@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  margin: 20px;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
  font-family: 'Press Start 2P', cursive !important;
}

.container {
  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: "Press Start 2P", cursive;
  src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 1000px) {
  .container {
    flex-direction: row;
  }
}